:root {
  --color-primary: #1893E3;
  --color-secondary: #C8F64A;
  --color-bg: #f8f9fb;
  --bot-msg-text: #706a96;
  --bot-msg-bg: #f2f3f7;
  --msg-input-bg: #f6f7fb;
  --msg-input-text: #706a96;
  --msg-input-placeholder: #bebcd3;
}
